.portfolio {
  background-color: #cfff86;
  color: #000000;
  padding: 4rem 8rem;
}

.portfolio-content p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.portfolio-content h2 {
  font-size: 4rem;
  color: #3771ff;
  padding-left: 3rem;
  padding-top: 3rem;
  text-align: center;
}

/* filter button  */
.project-filter-btn {
  margin: 2rem;
  text-align: center;
}
.port-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 1rem;
  color: #0e0f10;
  transition: all 0.3s ease;
  padding: 1rem;

}
.port-btn:hover {
  color: #ffffff;
  text-shadow: 0 0 1rem #0b0c0c;
}
.port-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 2rem;
}
.port-box {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(249, 252, 255, 0.9);
}

.port-box:hover .port-img img{
  transform: scale(1.1);
}
.port-box:hover .port-img-tag{
  opacity: 1;
  cursor: pointer;
}
.port-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.port-img img {
  width: 100%;
  height: 100%;
  transition: 0.5s;

}
.port-img img:hover{
  opacity: 0.8;
}
.port-img-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #1e1b1b);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  padding: 0 2rem;
  color: #ffffff;
}
.port-img-tag h3 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 700;
}
.port-img-tag p {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
.port-img-tag a{
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid #3771ff;
  outline: 2px solid #fff;
}
.port-img-tag a i {
  color: #252323;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
