@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  html {
    font-size: 50.5%;
  }
}
@media only screen and (min-width: 1439px) and (max-width: 2559px) {
  html {
    font-size: 72%;
  }
}
@media only screen and (min-width: 2559px) {
  html {
    font-size: 125%;
  }
}
